.SubNavigation_wrapper{
    /*enable display productlist in right side*/
    display:flex;
    min-height:1000px;/* row of card at least per page*/
    /* min-width:1300px; extent the width to ensure more card can be display in a row,same setting for homepage_img/footer */
    /*for the subnavigation page ,leftbar take approximate 450 px,1/3 of min-width*/
}

.SubNavigation_Container{
    position:relative;
    border :1px skyblue solid;
    width:50%;
    max-height: 300px;/* fixed height -> display around 4 option*/
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.5); 
    border-radius:10%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    overflow-y: scroll;
    -ms-overflow-style: none;/*hide scrollbar for IE*/
    scrollbar-width: none;/*hide scrollbar for firefox */
}
.SubNavigation_Container::-webkit-scrollbar {/*hide the scroll bar*/
    display: none;/* for apple safari/google chrome */
}
.SubNavigation_Container:hover {
    box-shadow: 5px 10px 20px rgba(132, 196, 226, 0.7);
}
.SubNavigation_element {
    margin:50px;
}
.SubNavigation_link {
    text-decoration: none;
}
/* .SubNavigation_ScrollDown{
    position:sticky;
    bottom:0px;
} */
.SubNavigation_scrollDownText{
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    color:coral;
    cursor: pointer;
}
.SubNavigation_leftbar{
    display:flex; /* flex display for the arrow/more message*/
    flex-direction: column;
    gap:20px; /* leave small space between the link and the "more" message*/
    text-align:center; /*move the message to middle of leftbar*/
    align-items:center; /* move the container to center too*/
    width:30%;
    justify-content:flex-start;/*vertically top*/
    margin-top:200px;
}

.SubNavigation_rightBar{
    display:flex;
    flex-direction: column;
    width:70%;/*30%for left,70% for right*/
}

.SubNavigation_hierarchicalNavigationMenu{
    position:absolute;
    top:200px;
    font-size:20px;
    font-weight: bold;
    border:1px purple solid;
    width: 20%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.SubNavigation_hierarchicalNavigationMenu::-webkit-scrollbar {
    display: none;
}