.Navigation_wrapper{
    position:fixed;
    margin-top: 80px;
    width:100%;
    background-image: linear-gradient(to right, rgb(114, 189, 172), rgb(75, 186, 194));
    text-align: center;
    height:40px;
    align-items: center;
    z-index: 2;/*avoid element display throught*/
}


.Navigation_link{
    border-radius:10%;
    padding:5px;
    text-decoration: none;
    margin-right:10px;
    font-size:25px;
}
