.Home_listItem {
    border: 2px solid black;
    margin: 15px;
    height: 440px;
    overflow-y: scroll;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.8) !important;
}

.Home_listItem::-webkit-scrollbar {
    display: none;
}

.Home_listTabs{
    position:sticky;
    top: 0px;
    background-image:linear-gradient(to right,rgb(101, 171, 180),rgb(70, 111, 199));
    font-size:100px;
    z-index:1;
}

.Home_listTab{
    font-size:20px;
    margin:5px;
    padding-right:50px;
}



/* .Home_listScrollMsgContainer{
    text-align: center;
} */