.Home_listItem {
    margin:5%;/*the container take 90%,left,right left 5%*/
    height: 460px; /*fix height,with card and tab height calculated*/
    overflow-y: scroll;/*scroll down ofr y,no scroll for x as display being wrap in list component*/
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.8) !important;
    width:100%;/*make sure the item take place of 100% of container ->90% of the page*/
}

.Home_listItem::-webkit-scrollbar {
    display: none;
}

.Home_listTabs{
    position:sticky;
    top: 0px;
    background-image:linear-gradient(to right,rgb(101, 171, 180),rgb(70, 111, 199));
    font-size:100px;
    z-index:1;/* detail/add cart button may overlap with tab,set higher z-index avoid that*/
}

.Home_listTab{
    font-size:20px;
    margin:5px; /*space around tab*/
    padding-right:50px;/*space btween each tab*/
}
