.ProductList_wrapper{
    width:100%;/*100 % of right bar,70 % of the page*/
    height:100%;
}
/* .ProductList_grid { tableless design in grid system
    display: grid;
    grid-template-columns: calc(100%/4) calc(100%/4) calc(100%/4) ;
    grid-auto-rows: 200px;
    gap:calc(25%/4);
} */
 .ProductList_tableless {
    display:flex;
    flex-wrap: wrap;
    gap:2%;/* leave small gap between each card*/
    margin:1%;/*left some margin of the component -> mainly for home page list display*/
} 
.ProductList_card {
    width: 300px;
    height: 370px;
    border: 1px black solid;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.5) !important;/*overwrite the default card setting*/
    margin-bottom:10px;/* for haomepageproductlist*/
}
.ProductList_card:hover {
    box-shadow: 5px 5px 20px 1px rgba(132, 196, 226, 0.5) !important;
}

.ProductList_image{
    width:250px;
    height:200px; 
    margin:10px;
    margin-bottom:0px;
}

.ProductList_card_itemName{
    text-decoration: underline;
    font-size:25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.ProductList_card_itemComeFrom{
    font-size:8px;
    opacity:0.7;
}
.ProductList_card_itemPrice{
    color: rgb(25, 177, 177);
    font-size:25px;
    font-weight: bold;
}
.ProductList_card_itemPrevPrice{
    color:black;
    opacity:0.5;
    font-size:15px;
    font-family:fantasy;
    text-decoration: line-through;
}