.EditDialog_title{
    font-size:28px;
}
.EditDialog_imgUploadArea{
    border:1px grey dotted;
    width:100%;
    height:200px;
    justify-content: center;
    align-items: center;
}
.EditDialog_imgInput{
    visibility: hidden;
    width:0px;
}
.EditDialog_contentWrapper{
    display:flex;
}
.EditDialog_leftContent{
    width:50%;
    border:1px black solid;
    padding:20px;
    display:flex;
    flex-direction: column;
}
.EditDialog_rightContent{
    width:50%;
    margin-left:10px;
    border:1px green solid;
    padding:20px;
    display: flex;
    flex-direction: column;
}