.Home_wrapper{
    padding-top:140px;
    padding-bottom: 160px;
    min-width:1300px; /*at least 3 card in homepageProductlist display will take approximate 1200px*/
}
.Home_imageWrapper{
    text-align: center;
}
.Home_welcomeMsg{
    width:95%;
    opacity: 0.9;
    height:50%;
    margin-top:0px;
}
 .Home_listContainer { 
    display:table;
    height: 800px;
    width:97%;
    margin:20px 20px 0px 20px;   
} 

.Home_linkWrapper {
    text-align: right;
}

.Home_viewMore{
    font-size:30px;
    border-radius:10%;
    margin-top:0px;
    margin-right:30px;
    color:blueviolet;
    border-color: blueviolet;
}

.Home_viewMore:hover {
    color: green;
    border-color: blueviolet;
    cursor:pointer;
    transform: translateY(-5px);
    transition: transform 0.5s ease;
}





