.ProductDetail_img{
    
    width:650px;
    height:500px;
}
.ProductDetail_dialogTitle{
    font-size:30px;
}


.ProductDetail_centent{
    display:flex;
    gap:20px;
}
.ProductDetail_priceLabel{
    font-size: 40px;
}
.ProductDetail_priceNo{
    color:rgb(25, 177, 177);
}

.ProductDetail_counterButton{
    background-color:orange;
    border-radius :50%;
    height:50px;
    width:50px;
    font-size:30px;
    cursor:pointer;
}

.ProductDetail_counter{
    width:100%;
}
.ProductDetail_counterValue {
    font-size:30px;
    margin-left:40px;
    margin-right: 40px;
}
.ProductDetail_uiCartBtn{
    font-size:30px;
    margin:20px;
    border-radius: 5%
}
.ProductDetail_uiCartBtn:hover {
    border-color: rgb(46, 117, 46);
    background:rgb(196, 245, 196);
    transform: translateY(-10px);
    transition: transform 0.5s ease;
}

.ProductDetail_uiBackBtn {
    font-size: 25px;
    margin: 20px;
    border-radius: 20%;
}
.ProductDetail_uiBackBtn:hover {
    background-color: rgb(185, 167, 167);
    
}

.ProductDetail_prevPrice{
    text-decoration: line-through;
    opacity:0.5;
    font-size:20px;
}

.ProductDetail_moreThan100{
    color:green;
    font-size:15px;
    margin-left:60px;
}
.ProductDetail_lessThan3 {
    color: red;
    font-size: 30px;
    margin-left: 60px;
}
.ProductDetail_between3To100 {
    color: orange;
    font-size:25px;
    margin-left: 60px;
}
.ProductDetail_inventoryHighlight{
    text-decoration: underline;
    font-size:35px;
}
.ProductDetail_InCartMsg{
    margin-left:20px;/*leave some space between the msg and add button*/
}
.ProductDetail_InCartCnt{
    font-size:25px;
    color:indigo;
    font-weight: bold;
}
.ProductDetail_descriptionContainer{
    width:480px;
    height:120px;
    overflow-y: scroll;
}
.ProductDetail_description{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}