.CartTable_itemImg{
    width:30px;
    height:30px;
    cursor:pointer;
}
.CartTable_itemtextField{
    width:60px;
}
.CartTable_icon{
    cursor:pointer;
}
.CartTable_btn {
    padding:0;
    border:none;
}